syntax: glob
*~
*.log
*log*
*.pid
*.tar.gz
*.ttc
*.git

syntax: regexp
^\.git$
^blib$
^srv$
/cache/
/root/cache/
/var/tmp/
/var/tmp/tt/home/
/var/tmp/mongodb/
/var/log/mongodb/
/var/monitor/
/var/run/
/var/data/backup/dump/
