.pagination > li > a, .pagination > li > span {
    line-height: 1;
}

.panel {
    margin: 10px;
    padding: 2px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 4px;
    padding-right: 4px;
}

.col-sm-8 {
    margin-top: 12px;
}

.col-sm-10 {
    margin-top: 12px;
}

.form-control {
    height: 32px;
}

.breadcrumb {
    margin-bottom: 0px;
}

.elide160 {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elide160-mw {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elide120-mw {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elide50pc-mw {
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.elide100pc-mw {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elide84 {
    width: 84px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expander {
    cursor: pointer;
}

.fa {
    margin-right: 2px;
}

.log-entry-text {
    color: #00FF00;
    background-color: #000000;
    border: 1px solid #626262;
}

.comments-panel {
    display: none;
}

.center-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.form .form-control {
    margin-bottom: 10px;
}

.login-form-menu {
    margin: 10px;
    width: 180px;
}

.user-dashboard-menu {
    margin: 4px;
    width: auto;
}

.menu-avatar-image {
    width: 18px;
    height: 18px;
}

.menu-flag-image {
    margin-top: 3px;
    margin-bottom: 3px;
}

@media (min-width: 768px) {
    .navbar-collapsed {
	display: none;
    }
}

@media (min-width: 768px) {
    .navbar-toggled {
	display: block !important;
	visibility: visible !important;
    }
}

@media (max-width: 767px) {
    .navbar-toggled {
	display: none !important;
	visibility: hidden !important;
    }
}

.breadcrumb-sub {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}

.breadcrumb-sub {
    margin-bottom: 0px;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.breadcrumb-sub {
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 12px;
}

.breadcrumb-sub > li + li:before {
    content: ":";
    padding: 0 4px;
    color: #cccccc;
}
