[% USE cache = Cache ( cache_root => c.config.application.content.template.cache_root ) %]

[% cache.inc( 'template' => 'templates/root/block/clustering/hosts.tt2', 'ttl' => 60 ) %]

[%# INCLUDE templates/root/block/clustering/hosts.tt2 %]
