<div class="mid-left-container">

<h1 class="interface">[% c.loc('Page not found') %]</h1>

    <div id="content">
	<p>[% c.loc('Page not found') %] : <a href="[% c.req.uri | html %]">[% c.req.uri | html %]</a></p>
	<p><a href="[% c.request.headers.referer | html %]">[% c.loc('Go back') %]</a></p>
	[% content %]
    </div>

</div>

<div style="position:fixed;left:0%;bottom:0;z-index:100500">
    <img src="/static/images/system/500.png" width="192" height="56">
</div>