[% MACRO l(text, args) BLOCK;
    c.localize(text, args);
END; %]

[%# title = l('Main') %]

<div class="mid-left-container">
	<h1 class="interface">[% title or c.config.application.title or c.config.application.name %]</h1>

	<div id="content" class="editable">
	    [% content %]
	    [% path %]
	</div>
</div>
